@using Monitor4Web.Components
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Connection>
                <Online>
                    <h2 style="color: green">Online</h2>
                </Online>
                <Offline>
                    <h1 style="color: red">Offline</h1>
                </Offline>
            </Connection>
        </div>

        <div class="main">
            @Body
        </div>
    </main>
</div>
