@page "/reports"
@using DataLibrary.DataSources
@using DataLibrary.Crud
@inject HttpClient Http

<PageTitle>Reports</PageTitle>

<h1>Survey Summaries</h1>

<p>Data summarizing beach survey results will show up here</p>


@code {
    protected override async Task OnInitializedAsync()
    {
    }

}
